/vendor/*
!/vendor/totpsclasslib
/node_modules
/views/css
/views/js
package-lock.json

# @TODO We should probably git composer.lock
composer.lock

# Ignore cache folder used by linters.
/.cache
.php_cs.cache
