<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>stripe_official</name>
    <displayName><![CDATA[Stripe Payments]]></displayName>
    <version><![CDATA[2.0.0-SNAPSHOT]]></version>
    <description><![CDATA[Accept payments globally via Stripe today, directly from your shop!]]></description>
    <author><![CDATA[Stripe]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>