#stripe-card-element {
  padding: 6px 12px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#stripe-card-element.StripeElement--focus.StripeElement--invalid {
  border-color: rgb(132, 53, 52);
  box-shadow: rgba(0, 0, 0, .07) 0 1px 1px inset, rgb(206, 132, 131) 0 0 6px;
}

#stripe-card-element.StripeElement--focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#HOOK_PAYMENT #stripe-card-payment {
  padding-right: 15px;
  padding-left: 15px;
  background: #fbfbfb;
  border: 1px solid #d6d4d4;
  border-radius: 4px;
}

#HOOK_PAYMENT #stripe-card-payment h3 {
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

#HOOK_PAYMENT #stripe-card-payment img.cc-icon {
  display: inline-block;
  width: 31px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#HOOK_PAYMENT #stripe-card-payment .stripe-submit-button,
#HOOK_PAYMENT .ideal-submit-button {
  position: relative;
  display: inline-block;
  width: 210px;
  padding: 5px 7px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: rgb(91, 155, 213);
  background-image: url(~img_dir/lock-locked.png);
  background-repeat: no-repeat;
  background-position: 7px;
  background-size: 12px 17px;
  border: 1px solid rgba(77, 96, 113, .63);
  border-radius: 3px;
}

#HOOK_PAYMENT .stripe-payment-form {
  position: relative;
  display: block;
  padding: 18px 40px 10px 20px;
  margin-bottom: 9px;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  color: #333;
  letter-spacing: -1px;
  cursor: pointer;
  background: #fbfbfb;
  border: 1px solid #d6d4d4;
  border-radius: 4px;
}

.stripe-error-message {
  display: none;
  margin-bottom: 8px;
}

.card-payment-informations {
  margin-top: 10px;
  text-align: center;
  display: none;
}

.payment-options #stripe-card-payment {
  margin: 20px 0;
}

.stripe-payment-form .stripe-card-cvc, .stripe-payment-form .stripe-card-expiry {
    width: 102px;
    max-width: 102px;
    display: inline-block;
    padding: 3px 1px !important;
}

#stripe-card-number {
    width: 210px;
}

#stripe-card-cvc,
#stripe-card-expiry,
#stripe-card-postalcode {
    width: 102px;
    max-width: 102px;
}

#stripe-card-number,
#stripe-card-expiry,
#stripe-card-cvc,
#stripe-card-postalcode {
    border: #CCCCCC solid 1px;
    margin-bottom: 15px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 15px;
    width: 210px;
    background-color: #ffffff;
    position: relative;
}

body#checkout section.checkout-step .payment-options .stripe-payment-form #save_card .checkbox label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
}

form#stripe-card-payment img.card_logo {
    width: 50px;
    height: auto;
    display: inline-block;
    margin: 0px 10px;
}

form#stripe-card-payment #cards-logos {
    margin-bottom: 10px;
}

.stripe-payment-form label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
}

.stripe-payment-form label.required:before {
    content: "*";
    color: red;
    font-size: 14px;
    position: relative;
    line-height: 12px;
}

.stripe-payment-form .form-row {
    margin: 0 auto;
    display: block;
}

#stripe-card-number img.img-card {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 31px;
}

.stripe-submit-button {
    position: relative;
    display: inline-block;
    width: 210px;
    padding: 5px 7px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #5b9bd5;
    background-image: url(../../views/img/lock-locked.png);
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 12px 17px;
    border: 1px solid rgba(77,96,113,0.63);
    border-radius: 3px;
}

#powered_by_stripe {
    margin-bottom: 20px;
}

.stripe-card-cardholdername input,
#stripe-card-number,
#stripe-card-expiry,
#stripe-card-cvc,
#stripe-card-postalcode {
    border: #CCCCCC solid 1px;
    margin-bottom: 15px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 15px;
    width: 210px;
    background-color: #ffffff;
    position: relative;
    display: block;
    height: 25px;
}

#stripe-card-element,
#stripe-card-cardholdername,
#stripe-sepa-element {
    padding: 6px 12px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
}

#stripe-card-cardholdername {
    width: 50%;
}

#stripe-card-payment .label16 {
    padding: 0px;
    letter-spacing: 0px;
    color: #777777;
    font-size: 14px;
    font-weight: normal;
}