div.payment_module.cart-stripe-official { padding-bottom: 35px;     margin-bottom: 10px; text-transform: none; }
.stripe_title img { float: none; margin-right: 8px; margin-top: -2px; vertical-align: middle; }
#stripe-payment-form {    margin: 0 auto;}
#stripe-payment-form label { display: inline-block !important; margin-bottom: 4px; font-size: 14px; font-weight: bold;}
#stripe-payment-form label.lowercase { text-transform: none; }
#stripe-payment-form label.required:before {
	color: red;
	content: "*";
	font-size: 14px;
	position: relative;
	line-height: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* display: block; */
	float: initial;
}
#stripe-payment-form input[type="text"], #stripe-payment-form select {
	border: #CCCCCC solid 1px; margin-bottom: 15px; padding: 3px;     box-sizing: border-box; font-size: 15px;
}
#stripe-payment-form input[type="checkbox"] { margin-bottom: 15px; }

#stripe-payment-form input.stripe-card-cvc {  }
#stripe-form a { display: inline; position: relative; }
a.stripe-card-cvc-info { font-style: italic; }
a.stripe-card-cvc-info div.cvc-info {
	background-color: #BDE5F8;
	border: #00529B solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #00529B!important;
	display: none;
	font-style: normal;
	padding: 8px;
	position: absolute;
	right: -320px; top: -10px;
	text-decoration: none;
	width: 300px;
}
a.stripe-card-cvc-info:hover div.cvc-info { display: block; }
div.cvc-info:hover { cursor: default; }
#stripe-payment-form img.cc-icon { border: #CCCCCC solid 1px; float: left; margin-right: 5px; }
.block-left {
	display: inline-block; float: left; margin-right: 6px;
}
img.disable { opacity: 0.3; }
img.enable { opacity: 1; }
#stripe-payment-form-cc .stripe-submit-button-cc { margin-left: 5px; }
#stripe-payment-form-cc a { display: inline; font-size: 11px; text-decoration: underline; }
#stripe-payment-form .stripe-submit-button, #stripe-payment-form-cc .stripe-submit-button-cc {
	position:relative;
	display:inline-block;
	padding:5px 7px;
	border:1px solid rgba(77, 96, 113, 0.63);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight:bold;
	color:#fff;
	background-color: rgb(91, 155, 213);
	cursor: pointer;
	margin-bottom: 15px;
}
#stripe-payment-form .stripe-submit-button:hover, #stripe-payment-form-cc .stripe-submit-button-cc:hover {
	text-decoration:none;
	background-position: left -50px
}
div.stripe-payment-errors, #stripe-payment-form #card-errors {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #900;
	color: #900;
	font-size: 13px;
	background: #FCC;
	width: 210px;
	display: none;
}

div.stripe-card-deleted {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ade27d;
	font-size: 13px;
	background: #d3ffab;
	display: none;
	text-transform: none;
}
#stripe-payment-form .payment-ok, #stripe-payment-form .payment-ko {
	display: none;
	margin-left: -23px;
}
#stripe-translations, #stripe-ajax-loader { display: none; }
#stripe_save_token { vertical-align: top; }
a#stripe_error { display: none; }
#stripe-payment-form input, #stripe-payment-form select { margin-left: 0; }
#stripe-replace-card, #stripe-delete-card { border: none; padding: 0; cursor: pointer; }
#stripe-payment-form {
	width: 228px;
	margin-top:15px;
}
#stripe-payment-form .stripe-name, #stripe-payment-form .stripe-card-number, #stripe-payment-form .stripe-submit-button {
	width: 210px;
}
.powered_stripe {
	margin-right: 6px !important;
	height: 21px !important;
}
.stripe-submit-button img {
	width:12px;
	position: absolute;
	left: 10px;
}
h3.stripe_title {
	font-size: 17px;
	font-weight: bold;
	color: #000;
}
#stripe-ajax-loader {
	width: fit-content;
	margin: auto;
	margin-top: 15px;
}
#modal_stripe {
	width: 600px;
	height: 500px;
	margin: auto;
	margin-top: 80px;
	padding: 30px;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background: white;
}

div.payment_module {
	border: 0px solid #ffffff!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    background:#ffffff!important;
}
@media (max-width: 764px) {
    #modal_stripe {
        width: 90%;
        margin: auto;
        margin-top: 80px;
        padding: 30px;
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border: 1px solid rgba(0,0,0,.2);
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
        background: white;
    }
}
#modal_stripe_waiting, #modal-stripe-error {
	height: 124px;
	width: 341px;
	background: white;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10%;
	font-size: 16px;
	padding: 28px;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.stripe-payment-europe-errors {
	color:red;
}
.stripe-europe-payments img {
	width:86px;
	height:49px;
	margin-right: 20px;
}
.stripe-europe-payments a {
	display: block;
	border: 1px solid #d6d4d4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 17px;
	line-height: 23px;
	color: #333;
	font-weight: bold;
	padding: 28px 40px 28px 20px;
	letter-spacing: -1px;
	position: relative;
	background: #fbfbfb;
}

#cardNumber-element, #cardCvc-element, #cardExpiry-element {
	border: #CCCCCC solid 1px;
	margin-bottom: 15px;
	padding: 3px;
	box-sizing: border-box;
	font-size: 15px;
	width: 210px;
	background-color: #ffffff;
}
#cardNumber-element {
	width: 210px;
}
#cardCvc-element, #cardExpiry-element {
	width:102px;
	max-width: 102px;
}
#stripe-payment-form .stripe-card-cvc, #stripe-payment-form .stripe-card-expiry {
	width:102px;
	max-width: 102px;
	float: left;
	padding: 3px 1px !important;
	text-align: left;
}
#stripe-payment-form .img-card {width: 33px;     margin-top: -77px;}
#stripe-ajax-loader-europe {
	text-align: center;
}